body {
     background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(34,0,255,1) 100%);;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    cursor: copy;
    color:white;
    text-align: center;
}
a{
    color: gold;
}